<p style="color: green"><%= notice %></p>

<h3>Your Vehicle Collection</h3>

<div id="inventories">
  <% @inventories.each do |inventory| %>
    <div class='card'>
      <%= render inventory %>
      <p>
        <%= link_to "Show this inventory", inventory %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New inventory", new_inventory_path %>
