<p style="color: green"><%= notice %></p>

<h2>Your Vehicle Collection</h2>

<div id="inventories">
  <% @inventories.each do |inventory| %>
    <div class='card'>
      <%= render inventory %>
      <p>
        <%= link_to "Edit", edit_inventory_path(inventory) %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "Add new inventory", new_inventory_path %>
