<p style="color: green"><%= notice %></p>
<%= render @inventory %><br />

<%= link_to "Edit this inventory", edit_inventory_path(@inventory) %>

<%= button_to "Destroy this inventory", @inventory, method: :delete %>

