<h1>Editing warehouse</h1>

<%= render "form", warehouse: @warehouse %>

<br>

<div>
  <%= link_to "Show this warehouse", @warehouse %> |
  <%= link_to "Back to warehouses", warehouses_path %>
</div>
