<p style="color: green"><%= notice %></p>

<h2>Your Warehouses</h2>

<div id="warehouses">
  <% @warehouses.each do |warehouse| %>
    <div class='card'>
      <%= warehouse.name %>
      <p>
        <%= link_to "Edit", edit_warehouse_path(warehouse) %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "Add New Warehouse", new_warehouse_path %>
