<p style="color: green"><%= notice %></p>

<%= render @warehouse %><br />

<div>
  <%= link_to "Edit this warehouse", edit_warehouse_path(@warehouse) %>

  <%= button_to "Destroy this warehouse", @warehouse, method: :delete %>
</div>
